@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../fotos/fondo.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden; }

/*$zoom:{
	transform:scale(1.5);
	transition:3s;
}
$subir:transform: translateY(10px);
$bajar:transform: translateY(-10px);
$inclinar:{
	transform: skew(5deg);
	transition: 2s;
}*/
.botonera {
  background-color: rgba(116, 187, 33, 0.8);
  padding: 10px 20px;
  height: 20vh; }
  .botonera img {
    width: w-75; }
  .botonera ul {
    display: flex; }
    .botonera ul li {
      margin: 10px;
      margin-top: 20px;
      color: #ECDB4A; }
      .botonera ul li a {
        font-size: 2em;
        font-family: "Just Another Hand", cursive;
        color: #ECDB4A; }

#contenido h1 {
  color: rgba(116, 187, 33, 0.9);
  font-size: 4em;
  font-family: "Just Another Hand", cursive;
  margin-top: 80px;
  margin-left: 10px; }

#contenido img {
  width: 80%;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 50px; }

#contenido p {
  color: #dbdffa;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 2em;
  width: 80%;
  height: auto;
  border: double 4px rgba(116, 187, 33, 0.8);
  padding: 15px; }

#contenido h3 {
  color: rgba(116, 187, 33, 0.9);
  font-size: 3em;
  font-family: "Just Another Hand", cursive;
  margin-top: 50px; }

#contenido textarea {
  margin-top: 100px; }

#contenido img {
  width: 80%;
  margin-top: 10px;
  margin-left: 100px; }

#contenidoHistoria h1 {
  color: rgba(116, 187, 33, 0.9);
  font-size: 4em;
  font-family: "Just Another Hand", cursive;
  margin-top: 80px;
  margin-left: 10px; }

#contenidoHistoria img {
  width: 100%;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px; }

#contenidoHistoria img {
  width: 100%;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px; }

#contenidoHistoria img {
  width: 100%;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px; }

#contenidoHistoria p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #dbdffa;
  font-size: 1em; }
  #contenidoHistoria p:first-letter {
    color: #dbdffa;
    font-size: 3em;
    font-weight: 600; }

#contenidoFechas img {
  width: 100%;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px; }

#contenidoFechas ul {
  background-color: #ECDB4A;
  border: double 4px black;
  padding: 5px 5px;
  width: 50%;
  margin-top: 100px;
  margin-left: 50px; }
  #contenidoFechas ul li {
    font-size: 2em;
    font-family: "Just Another Hand", cursive; }

#contenidoIntegrantes img {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 50px; }

#contenidoIntegrantes p {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #dbdffa;
  width: 80%;
  height: auto;
  border: double 4px rgba(116, 187, 33, 0.8);
  padding: 15px;
  margin-top: 150px;
  margin-left: 50px; }

footer h3 {
  color: rgba(116, 187, 33, 0.9);
  font-family: "Just Another Hand", cursive;
  font-size: 2em; }

footer img {
  margin-bottom: -30px;
  float: right;
  margin-right: 250px; }

footer img {
  margin-bottom: -30px;
  float: right;
  margin-right: 250px; }

footer img {
  margin-bottom: -30px;
  float: right;
  margin-right: 250px; }
