footer{
	h3{
		color: $colorTitulo;
		font-family: $fontTitulo;
		font-size: $text3;
	}
	img{
		margin-bottom: -30px;
		float: right;
		margin-right: 250px;
		//animacion
	}
	img{
		margin-bottom: -30px;
		float: right;
		margin-right: 250px;
		//animacion
	}
	img{
		margin-bottom: -30px;
		float: right;
		margin-right: 250px;
		//animacion
	}
}