footer{
	display: flex;
	img{
		margin-bottom: -30px;
		float: right;
		margin-right: 250px;
		&:hover{
			transform: scale(1.5);
			transition: 2s;
		}
	}
	img{
		margin-bottom: -30px;
		float: right;
		margin-right: 250px;
		&:hover{
			transform: scale(1.5);
			transition: 2s;
		}
		
	}
	img{
		margin-bottom: -30px;
		float: right;
		margin-right: 250px;
		&:hover{
			transform: scale(1.5);
			transition: 2s;
		}
	}
}